body {
  margin: 0;
  /*background-image: url("https://just38.justhost.com:2083/cpsess5774539785/viewer/home4%2folivers1%2fpublic_html%2fwebpolitic/background.jpg");
	background-repeat: no-repeat;
    background-position: center top;*/
  }


.title{ 
	background-image: url("https://just38.justhost.com:2083/cpsess739531894/viewer/home4%2folivers1%2fpublic_html%2fwebpolitic/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem; 
    /*margin: .5rem;*/
    color: #ffffff;
}



.title-small{
	background-image: url("https://just38.justhost.com:2083/cpsess739531894/viewer/home4/olivers1/public_html/webpolitic/background.jpg?post_login=74769275155582");
	background-repeat: no-repeat;
	background-size: cover;
    padding-top: 1rem;
    padding-bottom: 1rem; 
}	

.shanti{
	font-family:"Shanti";
}

.title-txt{
	color: #ffffff;
	text-shadow: 0 2px #000000;
}

.title-bar{
	color:#000000;
}

.top-bar{
	padding-top: 1rem;
}
.top-bar-element{
	background-color:#000000;
}

.menu{
	background-color:#000;
}

.orbit-object-debate{
	padding:15rem;
	background-image: url("https://just38.justhost.com:2083/cpsess739531894/viewer/home4%2folivers1%2fpublic_html%2fwebpolitic/debate-edit.png");	
}

.orbit-object-vote{
	padding:15rem;
	background-image: url("https://just38.justhost.com:2083/cpsess739531894/viewer/home4%2folivers1%2fpublic_html%2fwebpolitic/vote-edit.png");	
}

.orbit-object-community{
	padding:15rem;
	background-image: url("https://just38.justhost.com:2083/cpsess739531894/viewer/home4%2folivers1%2fpublic_html%2fwebpolitic/c-edit.png");	
}

.orbit-object-edit{
	padding:15rem;
	background-image: url("https://just38.justhost.com:2083/cpsess739531894/viewer/home4%2folivers1%2fpublic_html%2fwebpolitic/edit-edit.png");	
}

.orbit{
	height:15rem;
}

.orbit-bullets{
  position: absolute;
  bottom:-120%;
  right: 50%;
  li {
    width: 2rem;
    height: 2rem;
  }
}



p{ /*just a test class for now testing fonts/anything*/
	font-family: "Aclonica";
	font-weight: bold; 
	text-align: center;
}

   
