body {
  margin: 0;
  /*background-image: url("https://just38.justhost.com:2083/cpsess5774539785/viewer/home4%2folivers1%2fpublic_html%2fwebpolitic/background.jpg");
	background-repeat: no-repeat;
    background-position: center top;*/
  }


.title{ 
	background-image: url("https://just38.justhost.com:2083/cpsess5774539785/viewer/home4%2folivers1%2fpublic_html%2fwebpolitic/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    padding-top: 3rem;
    padding-bottom: 5rem; 
}

.shanti{
	font-family:"Shanti";
}

.title-txt{
	color: #ffffff;
	text-shadow: 0 2px #000000


p{ /*just a test class for now testing fonts/anything*/
	font-family: "Aclonica";
	font-weight: bold; 
	background-image: url("images/title-background.png");
	background-repeat: no-repeat;
    background-position: center top;
}


   
